body {
    background-image: url("world.png");
    background-size: 1500px;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card {
    height: 180px;
    width: 180px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.perspective1 {

    perspective: 500px;
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}

.front {
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background: linear-gradient(#f8da61, #ff5acd);
    z-index: 1;
    transform: rotateY(180deg);
}

.container {
    padding-top: 50px;
    display: grid;
    gap: 40px;
    grid-template-areas:
        "Cristano Suares Salah";
}

h1 {
    position: absolute;
    margin-left: 80px;
    margin-top: -650px;
    font-family: 'Lobster', cursive;
    color: chocolate;
}

.card1:hover {
    transform: rotateY(180deg);
}

.card2:hover {
    transform: rotateY(180deg);
}

.card3:hover {
    transform: rotateY(180deg);
}

.card4:hover {
    transform: rotateY(180deg);
}

.card5:hover {
    transform: rotateY(180deg);
}

.card6:hover {
    transform: rotateY(180deg);
}

.card7:hover {
    transform: rotateY(180deg);
}

.card8:hover {
    transform: rotateY(180deg);
}

.card9:hover {
    transform: rotateY(180deg);
}
